# My Jupyter Notebook on IBM Watson Studio

**Cláudio Márcio Macedo**

*I am interested in data science because I'm very courious and love to learn new stuff.*

### The below should print "Olá Mundo!" ###

In [1]:
print("Olá Mundo!")

Olá Mundo!

-  Família
| Id | Name | Age |
|----|------|-----|
| 01 | Claudio | 48 |
| 02 | Virginia | 42 |
| 03 | Sofia | 27 |
| 04 | Maria | 20 |